@import "tailwindcss";
::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background-color: cyan; 
  border-radius: 10px;
  border: 2px solid rgb(5, 207, 207);
}

